@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);
html{
	font-size: 20px;
}
/** global **/
body {
	
	padding:0;
	background: #fff;
	font-family: 'Arima Madurai', cursive;
	font-size: 1.0em;
	color:#555;
	background-color: #000;
  	background-attachment: fixed;
  	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../images/home.jpg');
  	background-repeat: repeat, no-repeat;
  	background-size: cover;
}
* {
	margin:0;
	padding:0;
}


/**----------- element defaults--------------------- **/
table {
	width:100%;
	text-align:left;
}
th, td {
	padding:5px 10px;
}
th {
	color:#fff;
	border-top:1px solid #222;
	background-color:#2F2F2F;
}
td {
	border-bottom:1px solid #f4f4f4;
}
code, blockquote {
	display:block;
	border-left:5px solid #ddd;
	padding:10px;
	margin-bottom:20px;
}
blockquote p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0;
	height: 1%;
}
p {
	line-height:2.0em;
	margin-bottom:20px;
}
a {
	color:#B80000;
}
a:hover {
	color:#000;
}
a:focus {
	outline:none;
}


h1 {
	font-size:2.4em;
}
h2 {
	color:#2f2f2f;
	font-size:1.8em;
	font-weight:bold;
	padding:0 0 5px;
	margin:0;
}
h3 {
	color:#D20000;
	font-size:1.6em;
	padding-bottom:10px;
}
h4 {
	padding-bottom:10px;
	font-size:1.4em;
	color:#000;
}
h5 {
	padding-bottom:10px;
	font-size:1.2em;
	color:#666666;
}

ul#menu li {
    display:inline!important;
    line-height: 2.5rem;
    text-align: center;
    padding: -2px;
}
ul#menu{
	margin-left: 53rem;
}
ul#menu a{
	padding: 5px;
	color: #555;
	background-color: rgba(255,255,255,0.1);
	display: inline-block;
	text-decoration: none;
}
ul#menu a:hover{
	background-color: rgba(255,255,255,0.5);
	color: #000;
	font-family: 'Arima Madurai'
}


 
 /* Parallax base styles
  --------------------------------------------- */
#parallax{
	background-color: blue;
	z-index: 1000;
	height: 100vh;
}
  .parallax {
    
    position:;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
    z-index: 1000;
    transform: 
  }

  .parallax_layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax_base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .parallax_back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }


/*---------special props--------------*/

.cover{
	width:61.5rem;
	height: 36.5rem;
	margin-top: 3.2rem;
	float: right;
	border:none !important;

}
iframe{
	right: 0px;
}

.top{
	position: fixed;
	top: 0px;

}
.framed{
	float: left;
}
.horizontal{
	width: 100vw;
	height: 2rem;
	z-index: 1000
}
.grad1 {
    height: 55px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right,red,orange,yellow,green,blue,indigo,violet);
  background: -o-linear-gradient(right,red,orange,yellow,green,blue,indigo,violet);
  background: -moz-linear-gradient(right,red,orange,yellow,green,blue,indigo,violet);
  background: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet); 
}
.grad2 {
    height: 200px;
    opacity: 0.9;
    background: -webkit-linear-gradient(right,rgba(150,0,0,1.5), rgba(0,0,0,1), rgba(150,0,0,1.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,rgba(150,0,0,1.5), rgba(0,0,0,1), rgba(150,0,0,1.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,rgba(150,0,0,1.5), rgba(0,0,0,1), rgba(150,0,0,1.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,rgba(150,0,0,1.5), rgba(0,0,0,1), rgba(150,0,0,1.5)); /* Standard syntax (must be last) */
}





/**---------------- header------------------- **/
header {
	padding:30px 0 30px;
	margin:0 auto;
}
header h1 { 
	text-align: center;
}

header h1 a,
header h1 a:hover,
header h1 a:visited {
	color: #fff;
	text-decoration: none;
}

header h2 {
	color:#555;
	text-align: center;
	font-size: 0.8em;
	font-weight: normal;
	padding-bottom:0;
	letter-spacing:0;
	text-transform: uppercase;
}
header div.tagline {
	color:#C2D7F9;
	font-size:0.9em;
}
header div.tagline a {
	color:#ffffff;
}

/*------------iframe--------------------->


/** body **/
section#body {
	padding: 0;
	background: #2f2f2f;
}


/*---------topnav-----------------*/
.brandname{
	font-size: 1.8rem;
	padding-top: .4rem;
	padding-left: 3rem;
	color: white;
	background-color: black;

}

.right{
	margin-left: 60rem;
}
header li{
	font-family: sans-serif;
	font-size: 1rem;
	color: grey;

}
.navs{
	margin-left: 10rem;
}

/**------------ content+sidebar styles------------- **/



.mynav{
	float: left;
	height: 27rem;
	width: 15rem;
	background-color: #edf1f2;
	font-size: .8rem;
	padding-top: 10rem;
	}

section#content {
	width:8rem;
	
	background-color: #fff;
}
.column-left {
	float:left;
}
.column-right {
	float:right;
}
aside#sidebar {
	width:300px;
	position: relative;
}

nav#mainnav ul {
	margin-top: 3.2rem;
}

nav#mainnav li {
	padding:0;
	border-bottom: 0px solid #333;
}
nav#mainnav li.selected-item  {
	border-bottom:none;
}
nav#mainnav li.selected-item a,
nav#mainnav li.selected-item a:hover {
	color: #D20000;
}
nav#mainnav li a:hover {
	color:cyan;
	font-size: 1rem;
	font-weight:700;
	text-decoration:none;
	text-transform: lowercase;
}
nav#mainnav li a:active {
	color:red;
	text-decoration:none;
}
nav#mainnav li a {
	color:#fff;
	font-family: 'Arima Madurai';
	display: block;
	padding: 0px 17px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.5px;
}

aside#sidebar h4 { 
	color:#0C367E;
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	margin:0;
	padding:7px 10px;
}




/** footer **/
footer {
	padding:20px 0px;
}

footer p {
	color:#666;
	margin:0;
	font-size:0.8em;
	text-align: center;
}
footer p a {
	color:#666;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #999;
}
footer p a:hover { color:#333; border-bottom-color: #333; }


/** clear fix **/
.clear:after {
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clear {
	clear: both;
	display: inline-block;
}
.clear {
	display: block;
}


/*---------------animations-----------------*/
@keyframes slide-out{
	from{}
	to{width: 0px;}
}



@media screen and (max-width: 740px) {

	body { font-size: 0.9em; }	


	.width { width:auto; padding-left: 10px; padding-right: 10px; }

	.column-left, .column-right { margin:0 5px; }
	
	section#content, aside#sidebar { position: relative; float: none; width: auto; }

	
}


@media screen and (max-width: 540px) {

	body { font-size: 0.8em; }

	header, header h1 a, header h1 a:hover { text-align: center; padding: 10px 0 0 0; font-size: 1.1em; }


	nav#mainnav ul li a { margin-top: 0; padding: 1em; }


}
/*----------------------sec2-------------------------*/
#sec2{
	opacity: 1;
}