html{
	font-size: 10px;

}
body{
	font-family: 'Arima Madurai', cursive !important;
	 background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../images/book2.jpeg');
  	background-size: cover;
  	background-attachment: fixed;
}
.courses_list{
	z-index: 1000 !important;
	position: relative;
	width: 49%;
	height: 40rem;
	margin:0rem 0 0 0;
	display: inline-block;
	background-color: transparent;

}

h4{
	padding-left: 15rem;
	font-size: 4rem;
	color: cyan;
}
.courses_list ul{
	margin: 0rem 0 0 25rem; 
}
.courses_list li {
	text-transform: uppercase;
	background-color:transparent;
	line-height: 5rem;
	border-left:1px groove orange;
	color: lime;
}
#courseenquiry{
	display: block;
	position: absolute;
}
.Course_Content {

}
.text_disp{
	padding: 1.5rem;
	display: inline-block;
	position: absolute;
	z-index: 1000;
	transform: translate(70rem,-20rem);
	-webkit-transform:translate(70rem,-20rem);
	border-radius: 3rem;
	color: white !important;
	max-width: 25rem !important;
	overflow-wrap: break-word;
	overflow: hidden;
	height: 0rem;
	opacity:0;
	border: 1px groove white;
	background-color: rgba(0,0,0,.5);

}
.longText{
	overflow: hidden;
	max-width: 20rem;
	max-height: 1rem !important;	
}
.Course_Content div{
	position: relative;
	color: yellow;
	display: block;
	margin-top: 2rem;
	width: 40rem;
}
 .Course_Content span{
 	float: right;
	background-color:rgba(0,0,0,0.5);
	border:1px solid white;
	border-radius:3rem;
	padding: 0.5rem 5rem 0.5rem 5rem;
	text-decoration: none;
	color: lime;
}
	

li.separator{
	line-height: 2rem !important;
}
#compulsory_courses{
	transform: translate(0,-7rem);
}
#subscript{
	font-size: 4rem;
	left: 55%;
	transform: translate(4rem,-5rem);
}
/* centre the content in the parallax layers */
  .title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }
  .titlefont{
  	font-size: 7rem;
    color: #9f2;
  }

  #main_list{
  	top: 25% !important;
  }
	
	.head1{
		text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 9rem;
    color: yellow !important;
     font-family: 'Tangerine', serif !important;
     text-shadow: 1rem 1rem 1rem red;


	}
.cover:hover{

}
.cover{
	
	padding: 1rem 0 0 2rem;
	width:150rem;
	height: 70rem;
	float: left;
	position: absolute;
	border:none !important;

}

.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 7rem;
    color: #98ff35
  }

  .demo__info {
    position: absolute;
    z-index:100;
    bottom: 1vh;
    top: auto;
    font-size:80%;
    text-align:center;
    width: 100%;
  }
  .banner{
  	font-size: 7rem;
  	color: orange;
  	margin:3% 8% 0 0;
  	float: right;
  }

  .container{
  	height: 100vh;
  	width: 100vw;
  }
	

	